@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
$full:1880px;
$large:1600px;
$pc: 1280px;
$tab: 768px;
$sp: 440px;

@mixin full {
  @media (max-width: ($full)) {
    @content;
  }
}
@mixin large {
  @media (max-width: ($large)) {
    @content;
  }
}
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

$black: #3c3c3c;
$yellow: #f8ec00;
$blue: #76ccf3;
$pink: #ee869e;
$green: #79bd28;
