.footer{
  position: relative;
  .tab{
    width: calc(600vw / (768 / 100));
    margin: 0 auto;
    padding: calc(36vw / (768 / 100)) 0;
  }
  &__main{
    .container{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      @include pc {
        padding: calc(10vw / (1280 / 100)) 0;
      }
      @include tab {
        display: none;
      }
    }
    .footer-logo{
      position: absolute;
      left: -200px;
      width: 200px;
      @include pc {
        left: calc(-180vw / (1280 / 100));
        width: calc(170vw / (1280 / 100));
      }
    }
  text-align: center;
  background-image: linear-gradient(0deg, rgba(204, 0, 11, 1), rgba(226, 9, 20, 1) 22%, rgba(253, 21, 32, 1));
  color: #fff;
  @include pc {
  }
  @include tab {
    text-align: left;
  }
  &__nav{
    padding: 32px 0;
    @include pc {
      padding:calc(32vw / (1280 / 100)) 0 calc(56vw / (1280 / 100));
      margin-left: calc(-30vw / (1280 / 100));
    }
    &__list{
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.08em;
      font-size: 20px;
      @include pc {
        font-size:calc(20vw / (1280 / 100));
      }
      li{
        padding: 0 20px;
        font-family: "Hiragino Sans","ヒラギノ角ゴシック"; 
        font-weight: 300;
        @include pc {
          padding:0 calc(20vw / (1280 / 100));
        }
      }
    }
    .recruit{
      margin-left: 30px;
      @include pc {
        margin-left: calc(30vw / (1280 / 100));
      }
      a{
        background: #fff;
        color: #532713;
        box-shadow:0px 0px 2px 3px rgba(88, 88, 88, 0.117) inset;
        padding: 18px 30px 16px;
      }
    }
  }
}
&__nav{
  &-tab{
    width: 88%;
    padding:calc(20vw / (768 / 100)) 0;
    margin:calc(0vw / (768 / 100)) auto;
    ul{
      li{
        a{
          display: flex;
          align-items: center;
          gap: calc(22vw / (768 / 100));
          padding:calc(34vw / (768 / 100)) calc(20vw / (768 / 100));
          border-bottom: 2px solid #939393;
          img{
           height:calc(100vw / (768 / 100));
          }
          p{
            font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
            font-size:calc(32vw / (768 / 100));
            letter-spacing: 0.1em;
          };
        }

      }
    }
  }
}
small{
  text-align: left;
  margin-left:calc(50vw / (768 / 100));
}
&-top{
  position: absolute;
  bottom: 40px;
  right: 0;
  @include pc {
    bottom: calc(70vw / (1280 / 100));
    right: calc(14vw / (768 / 100));
  }
  @include tab {
    bottom:calc(30vw / (768 / 100));
    right:calc(30vw / (768 / 100));
  }
  img{
    width: 100px;
    @include pc {
      width: calc(100vw / (1280 / 100));
    }
    @include tab {
      width:calc(100vw / (768 / 100));
    }

  }
}
&__space{
  height:calc(140vw / (768 / 100));
}
small{
  @include sp {
    font-size:calc(10vw / (440 / 100));
  }
}
}