.header {
  &-atte {
    padding: calc(6vw / (768 / 100)) 0;
    color: #fff;
    font-size: calc(14vw / (768 / 100));
    text-align: center;
    background: #65cdec;
    a {
      color: #0854c4;
      border-bottom: 1px solid #0854c4;
    }
  }
  &-top {
    img {
      width: 100%;
    }
  }
  &__nav {
    ul {
      @include flex;
      flex-wrap: nowrap;
    }
  }
}
